<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EmployeeDetail</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Insert</display-name>
    <servlet-name>Insert</servlet-name>
    <servlet-class>emp.Insert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insert</servlet-name>
    <url-pattern>/Insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Show</display-name>
    <servlet-name>Show</servlet-name>
    <servlet-class>emp.Show</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Show</servlet-name>
    <url-pattern>/Show</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUp</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>emp.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSignUp</display-name>
    <servlet-name>UpdateSignUp</servlet-name>
    <servlet-class>emp.UpdateSignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSignUp</servlet-name>
    <url-pattern>/UpdateSignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUpdatedList</display-name>
    <servlet-name>ShowUpdatedList</servlet-name>
    <servlet-class>emp.ShowUpdatedList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUpdatedList</servlet-name>
    <url-pattern>/ShowUpdatedList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSelected</display-name>
    <servlet-name>DeleteSelected</servlet-name>
    <servlet-class>emp.DeleteSelected</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSelected</servlet-name>
    <url-pattern>/DeleteSelected</url-pattern>
  </servlet-mapping>
</web-app>